<style>
    .images img{
        height: 100px;
        width: 100px;
    }

</style>
<br>
<div class="container text-center">
    <h3>Gallery</h3>
    <ul class="wow slideInUp docs-pictures clearfix">
        <li><img data-original="images/gallery/1.jpg" src="images/gallery/1.jpg" alt="afsafsa"></li>
        <li><img data-original="images/gallery/2.jpg" src="images/gallery/2.jpg" alt="afsafsa"></li>
        <li><img data-original="images/gallery/3.jpg" src="images/gallery/3.jpg" alt="afsafsa"></li>
        <li><img data-original="images/gallery/4.jpg" src="images/gallery/4.jpg" alt="afsafsa"></li>
        <li><img data-original="images/gallery/5.jpg" src="images/gallery/5.jpg" alt="afsafsa"></li>
        <li><img data-original="images/gallery/6.jpg" src="images/gallery/6.jpg" alt="afsafsa"></li>
        <!--<li ng-repeat="images in galleryImages"><img  data-original='images/gallery/1.jpg' ng-src={{images.imgsrc}} alt={{images.heading}}></li>-->
    </ul>
</div>